In [3]:
import pandas as pd
data= {
"Name": ["ahmad", "hammad", "hamid"],
"Age": [20, 26, 35],
"Salary": [30000, 70000, 100000]
}
df = pd.DataFrame(data)
print(df.head())

     Name  Age  Salary
0   ahmad   20   30000
1  hammad   26   70000
2   hamid   35  100000